body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.display-mobile {
  display: none !important;
}

@media screen and (max-width: 780px) {
  .display-mobile {
    display: block !important;
  }
}
